<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zbkj.service.dao.StoreProductDao">

    <select id="getPlatformPageList" resultType="com.zbkj.common.response.PlatformProductListResponse" parameterType="Map">
        SELECT p.id,p.image,p.store_name as storeName,p.keyword,p.category_id as categoryId,p.price,p.postage,p.sales,p.stock,p.ficti,
        p.is_forced as isForced,p.audit_status as auditStatus,p.reason,p.rank,m.name as merchantName,m.is_self as isSelf,p.rank
        FROM eb_store_product AS p
        right join eb_merchant AS m on p.mer_id = m.id
        where p.is_del = 0 and p.is_recycle = 0
        <choose>
            <when test='type == "1"'>
                and p.is_forced = 0
                and p.audit_status = 1
                and p.is_show = 1
            </when>
            <when test='type == "2"'>
                and p.is_show = 0
                and p.audit_status = 1
            </when>
            <when test='type == "6"'>
                and p.audit_status = 0
            </when>
            <when test='type == "7"'>
                and p.audit_status = 2
            </when>
        </choose>
        <if test="merId != null and merId !='' ">
            and p.mer_id = #{merId}
        </if>
        <if test="self != null">
            and m.is_self = #{self}
        </if>
        <if test="categoryIds != null and categoryIds !='' ">
            and find_in_set(p.category_id, #{categoryIds, jdbcType=VARCHAR})
        </if>
        <if test="keywords != null and keywords !='' ">
            and (p.store_name like CONCAT('%', #{keywords, jdbcType=VARCHAR}, '%')
            or p.keyword like CONCAT('%', #{keywords, jdbcType=VARCHAR}, '%'))
        </if>
        ORDER BY p.rank desc, p.id desc
    </select>

</mapper>
